<head>
  <title>nvd3-test</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
</body>


<template name="hello">
  <div id="chart">
    <svg style="height:400px;width:700px"/>
  </div>
  <button id="addDataButton">Add data</button>
  <button id="removeDataButton">Remove data</button>
</template>
